<main id="main" class="main">
    <div class="pagetitle">
        <h1>Receipt</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Transaction</li>
                <li class="breadcrumb-item active">Receipt</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Receipt</h5>
                        <div class="search-here">
                            <label for="inputName5" class="form-label"> <b>Search</b></label>&nbsp;&nbsp;&nbsp;<input type="text" name="search" [(ngModel)]="searchText" placeholder="Search Here">
                            <div class="col-md-3"> <label for="inputName5" class="form-label">  <b>Filter</b></label>
                                <select ngModel name="collectionEmployee" class="form-control">
                                 <option value="" disable selected hidden>---Select----</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal" style="margin-left:780px; margin-top:-60px;"> Receipt </button>
                        <div class="modal fade" id="largeModal" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Bill </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row g-3" #recieptForm="ngForm" (ngSubmit)="getrecieptFormData(recieptForm.value)">
                                            <div class="col-md-6"> <label for="inputName5" class="form-label"> Branch Name</label>
                                                <select ngModel name="branchName" class="form-control">
                            <option value="" disable selected hidden>---Select----</option>
                            <option *ngFor="let branchData of ListOfBranchData"   >
                              {{ branchData.officeName}}
                         </option>
                         </select>
                                            </div>
                                            <div class="col-md-6"> <label for="inputName5" class="form-label"> Select Group</label>
                                                <select ngModel name="selectEnrollment" class="form-control">
                        <option value="" disable selected hidden>---Select----</option>
                        <option *ngFor="let grpData of ListOfGroupData" [ngValue]="{groupid:  grpData._id, gropName: grpData.groupName}">
                           {{grpData.groupName}}
                        </option>
                     </select>
                                            </div>
                                            <div class="col-md-6"> <label for="inputName5" class="form-label">Receipt ID</label> <input type="text" class="form-control" ngModel name="receiptId" id="inputName5"></div>
                                            <div class="col-md-6"> <label for="inputName5" class="form-label">Receipt Date</label> <input type="date" class="form-control" ngModel name="receiptDate" id="inputName5"></div>
                                            <div class="col-md-6"> <label for="inputName5" class="form-label">  Collection Employee</label>
                                                <select ngModel name="collectionEmployee" class="form-control">
                         <option value="" disable selected hidden>---Select----</option>
                         <option *ngFor="let empData of ListOfEmpData" [ngValue]="{empId:  empData._id, empName: empData.first_name}">
                           {{empData.first_name}}
                        </option>
                      </select>
                                            </div>
                                            <!-- <div class="col-md-6"> <label for="inputName5" class="form-label">Customer ID</label> <input type="text" class="form-control" ngModel name="receiptId" id="inputName5"></div> -->
                                            <div class="col-md-6"> <label for="inputName5" class="form-label"> Customer Name</label>
                                                <select ngModel name="customerName" class="form-control">
                         <option value="" disable selected hidden>---Select----</option>
                         <option *ngFor="let cusData of ListOfCustomerData" [ngValue]="{cusId:  cusData._id, cusName: cusData.personalDetails.name, collectroute: cusData.customerChitDetails[0].collection_route}">
                           {{cusData.personalDetails.name}}
                        </option>
                         
                      </select>
                                            </div>

                                            <div class="col-md-6"> <label for="inputName5" class="form-label"> Receipt Type</label>
                                                <select ngModel name="receiptType" class="form-control">
                         <option value="" disable selected hidden>---Select----</option>
                         <option value="Document Fee">Document Fee</option>
                         <option value="RF Amount">RF Amount</option>
                         <option value="Normal">Normal</option>
                         <option value="Advance">Advance</option>
                      </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputName5" class="form-label"> Amount </label>
                                                <div class="input-group mb-3 w-50"><span class="input-group-text">₹</span> <input type="number" ngModel name="billAmount" class="form-control" aria-label="Amount (to the nearest rupees)"> <span class="input-group-text">.00</span></div>
                                            </div>
                                            <div class="col-md-6"> <label for="inputName5" class="form-label"> Payment Mode</label>
                                                <select ngModel name="paymentMode" class="form-control">
                        <option value="" disable selected hidden>---Select----</option>
                        <option value="Document Fee">Cash</option>
                        <option value="RF Amount">Credit Card</option>
                        <option value="Normal">Debit Card</option>
                        <option value="Normal">Cheque</option>
                        <option value="Advance">UPI payment method</option>
                     </select>
                                            </div>
                                            <div class="text-center"> <button type="submit" class="btn btn-primary">&nbsp; Submit</button>&nbsp; <button type="reset" class="btn btn-secondary">Reset</button></div>
                                            <!-- [disabled]="isLoading" (click)="click()"
                                 <i class="spinner-border" style="width: 20px; height: 20px;"[ngClass]="{'spinner-border': isLoading}"></i> -->
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th> Id</th>
                                    <th>Branch Name</th>
                                    <th> Date</th>
                                    <th>Customer</th>
                                    <th>Employee </th>
                                    <th>Enrollment </th>
                                    <th>Receipt </th>
                                    <th> Amount</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let receipt of ListOfReceiptData|filter:searchText">
                                    <td>{{ receipt.receiptId }}</td>
                                    <td>{{ receipt.branchName }}</td>
                                    <td>{{ receipt.receiptDate }}</td>
                                    <td>{{ receipt.customerName }}</td>
                                    <td>{{ receipt.collectionEmployee }}</td>
                                    <td>{{ receipt.selectEnrollment }}</td>
                                    <td>{{ receipt.receiptType }}</td>
                                    <td>{{ receipt.billAmount }}</td>
                                    <td>
                                        <div class="icon">
                                            <i class="bi bi-printer"></i></div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>




</main>