/* #sect1 {  
    height: 650 px;  
    color: #fff;background-image: url("/src/assets/img/bg.jpg");  
    background-size: 100% ;  
    background-size: cover;  
} */
/* .bg {
    
    
   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }    */