<main id="main" class="main">
    <div class="pagetitle">
        <h1>Add Group Member</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"> Group</li>
                <li class="breadcrumb-item active">Add Group Member</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="card">
                 <div class="card-body">
                    <h5 class="card-title"> Group Details</h5>
                    
                    <button type="button" class="btn btn-primary" style="margin-left:780px; margin-top:-60px;" (click)="goToPage('addmember')"> Add Member </button>
                    <table class="table table-striped">

                     <tbody>
                        <tr>
                           <th scope="col">Group Name</th>

                           <td>MTP-1</td>
                       </tr>
                       <tr>
                           <th scope="col">Group Type</th>
                           <td>Non-register</td>
                       </tr>
                       <tr>
                           <th scope="col">Branch Name</th>
                           <td>Karamadai</td>
                       </tr>
                       <tr>
                        <th scope="col">Scheme Id</th>
                        <td>10,000-10</td>
                       </tr>
                       <tr>
                        <th scope="col">Auction Date</th>
                        <td>12</td>
                       </tr>

                     </tbody>
                     
                  </table>
                    
                    
                 </div>
              </div> -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Group Members</h5>
                        <div class="col-md-3"> <label for="inputName5" class="form-label">  <b>Filter</b></label>
                            <select ngModel name="collectionEmployee" class="form-control">
                             <option value="" disable selected hidden>---Select----</option>
                            </select>
                        </div>
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Group</th>
                                    <th>Scheme</th>
                                    <th>Vacant Count</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let group of ListOfGroupData;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{ group.groupName}}</td>
                                    <td>{{ group.schemeName }}</td>
                                    <td>{{ group.vacantCount }}</td>


                                    <td><button class="btn btn-primary" (click)="goToPage('addmember',group._id,group.vacantCount)"> Add Member </button></td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>




</main>