<main id="main" class="main">
    <div class="pagetitle">
        <h1>Customer Mapping</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/Group"> Group</a></li>
                <li class="breadcrumb-item"><a routerLink="/addgroupmember"> Group Mapping</a></li>
                <li class="breadcrumb-item active">Customer Mapping</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Customer Mapping</h5> -->
                        <div class="row" style="padding-bottom: 8px !important;">
                            <div class="col-md-2"> <label for="inputName5" class="form-label">  <b>Catogery</b></label>
                                <select ngModel name="collectionEmployee" [(ngModel)]="selectedValue" class="form-control">
                                    <!-- <option value="" disable selected hidden>---Select---</option> -->
                                    <option [selected]="true" [ngValue]="catselectvalue">---Select---</option>
                             <option value="nonmappedcustomer" >Non Mapped</option>
                             <option value="allcustomer" >All Customer</option>
                            </select>

                            </div>
                            <div class="col-md-2"> <label for="inputName5" class="form-label"> <b>Scheme</b></label>
                                <select ngModel name="schemeId" class="form-control" [(ngModel)]="slabValue">
                                    <option [selected]="true" [ngValue]="catselectvalue">---Select---</option>
                   <option *ngFor="let slabData of listofslabdata"    [ngValue]="slabData._id">{{slabData.chitValue}}-{{slabData.installment}}</option>
                   
                </select>
                            </div>


                            <!-- <div class="col-md-3"> <label for="inputName5" class="form-label">  <b>Data</b></label><input type="number" ngModel name="" class="form-control" id="inputName5" [disabled]="selectedValue == 'allcustomer'"></div> -->
                            <div class="col-md-2">

                                <button type="button " style="margin-top:32px;" class="btn btn-primary " data-bs-dismiss="modal" (click)="searchFilter(selectedValue,slabValue)">Search</button></div>
                        </div>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th> Name</th>
                                    <th> Branch</th>
                                    <th> Number</th>
                                    <th>Joining Date</th>
                                    <th>Subscription</th>
                                    <th>Collection Route</th>
                                    <th>Employee </th>
                                    <th> Received Amount</th>
                                    <th>Last Payment </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customrdata of ListOfCustMapData;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{ customrdata.personalDetails.name }} {{ customrdata.personalDetails.father }}</td>
                                    <td>{{customrdata.branchName}}</td>
                                    <td>{{ customrdata.personalDetails.phoneNumber }}</td>
                                    <td>{{customrdata.joiningDate}}</td>
                                    <td>{{ customrdata.customerChitDetails[0].subscription}}</td>
                                    <td>{{ customrdata.customerChitDetails[0].collection_route}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                    <td>
                                        <!-- <input class="form-check-input" [(ngModel)]="customrdata.checked" type="checkbox" id="gridCheck1" [disabled]="!customrdata.checked && maxNo" (change)="GroupMappingCustomer($event,customrdata._id,customrdata.joiningDate,customrdata.customerChitDetails[0].subscription)"> -->
                                        <input class="form-check-input" [(ngModel)]="customrdata.checked" type="checkbox" id="gridCheck1" [disabled]="!customrdata.checked && maxNo" (change)="GroupMappingCustomer($event,customrdata._id,customrdata.joiningDate,customrdata.customerChitDetails[0].subscription,customrdata.customerGenId,customrdata.personalDetails.name,customrdata.personalDetails.father)">&nbsp;
                                        <!-- <input class="form-check-input" type="checkbox" id="gridCheck1" (change)="GroupMappingCustomer($event,customrdata._id)"> -->
                                        <!-- <i style=" margin-left:10px; " class="bi bi-eye " data-bs-toggle="modal " data-bs-target="#ListGroup " (click)="getGroupbyId(group.id) "></i> -->
                                        <i class="bi bi-eye" data-bs-toggle="modal" data-bs-target="#Getbranch" (click)=" getrecieptId(customrdata._id)"></i>&nbsp;


                                        <div class="modal fade" id="Getbranch" tabindex="-1">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="col-md-4">
                                                            <table class="table table-striped">

                                                                <thead>
                                                                    <tr>
                                                                        <th>Receipt ID</th>
                                                                        <th>Date</th>
                                                                        <th>Type</th>
                                                                        <th>Employee</th>
                                                                        <th>Amount</th>
                                                                        <th>Payment Mode</th>
                                                                        <th>collectionRoute </th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let rcp of receiptByCustomerId ">
                                                                        <td>{{rcp.receiptId}}</td>
                                                                        <td>{{rcp.receiptDate}}</td>
                                                                        <td>{{rcp.receiptType}}</td>
                                                                        <td>{{rcp.collectionEmployee}}</td>
                                                                        <td>{{rcp.billAmount}}</td>
                                                                        <td>{{rcp.paymentMode}}</td>
                                                                        <td>{{rcp.collectionRoute}}</td>

                                                                    </tr>
                                                                </tbody>


                                                            </table>
                                                        </div>
                                                        <div class="modal-footer ">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                              </button>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer ">
                            <div class="col-md-1">
                                <button type="button " class="btn btn-primary " data-bs-dismiss="modal " (click)="goToPage('addgroupmember')">Back</button></div>
                            <!-- <button type="button " class="btn btn-primary " data-bs-dismiss="modal " (click)="getgroupFormData()">Save</button> -->
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#groupmapcusdetails">Next</button></div>
                        </div>
                        <div class="modal fade" id="groupmapcusdetails" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Customer Maapping</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row" style="font-weight: 700; padding-bottom: 8px !important; text-align: center !important;">
                                            <div class="col-md-1">S.No</div>
                                            <div class="col-md-2">Cus.ID</div>
                                            <div class="col-md-3">Customer Nmae</div>
                                            <div class="col-md-3">Joining Date</div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">Subscription</div>
                                        </div>

                                        <div *ngFor="let cudetail of groupmrm.customerDetails ;let i=index" style="text-align: center !important;">
                                            <div class="row">
                                                <div class="col-md-1">{{i+1}}</div>
                                                <div class="col-md-2">
                                                    <p>{{cudetail.cusgenid}}</p>
                                                </div>
                                                <div class="col-md-3" style="text-align: justify !important;">{{cudetail.cusname}}</div>
                                                <!-- <div class="col-md-3"><input type="date" ngModel [(ngModel)]="cudetail.joiningDate" name="cudetail.joiningDate" class="form-control" id="inputName5"> </div> -->
                                                <div class="col-md-3">
                                                    <select [(ngModel)]="cudetail.selectedMonth">
                                                        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                                      </select>
                                                    <select [(ngModel)]="cudetail.selectedYear">
                                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                                      </select>

                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2"><select ngModel name="cudetail.subscription" [(ngModel)]="cudetail.subscription">
                                                    <option [selected]="true" [ngValue]="dateselectedvalye">---Select---</option>
                                             <option value="Daily" >Daily</option>
                                             <option value="Weekly" >Weekly</option>
                                             <option value="Monthly" >Monthly</option>
                                            </select></div>


                                            </div>
                                        </div>

                                        <!-- <button (click)="addDatesToArray()">Add Dates</button> -->
                                        <button type="button " class="btn btn-primary " data-bs-dismiss="modal " (click)="addDatesToArray()">Save</button>
                                        <!-- <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Cus.ID</th>
                                                    <th>Customer Name</th>
                                                    <th>Joining Date</th>
                                                    <th>Subscription</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cudetail of groupmrm.customerDetails ;let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{cudetail.cusgenid}}</td>
                                                    <td>{{cudetail.cusname}}</td>
                                                    <td><input type="date" ngModel [(ngModel)]="grpfilterdatetyp" name="cudetail.joiningDate" class="form-control" id="inputName5" (click)="getgroupFormData(cudetail.cutomerId,grpfilterdatetyp,grpfiltersubtyp)"></td>
                                                    <td> <select ngModel name="cudetail.subscription" class="form-control" [(ngModel)]="grpfiltersubtyp">
                                                        <option [selected]="true" [ngValue]="dateselectedvalye">---Select---</option>
                                                 <option value="Startdate" >Start Date</option>
                                                 <option value="auctiondate" >Auction Date</option>
                                                </select>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table> -->
                                    </div>
                                    <!-- <div class="modal-footer">
                                        <button type="button " class="btn btn-primary " data-bs-dismiss="modal " (click)="getgroupFormData(cudetail.cutomerId,grpfilterdatetyp,grpfiltersubtyp)">Save</button>

                                    </div> -->

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </section>




</main>