/* You can add global styles to this file, and also import other style files */

/* @import "bootstarp/dist/css/bootstrap.css"; */
@import url("./assets/fonts/fonts.scss");

:root {
  scroll-behavior: smooth;
  --app-font: "Metropolis", sans-serif !important;
  --app-white: #fff;
  --app-color: #6941c6;
  --app-primary-button-active-color: #9162ff;
  --app-sidebar-bg: rgb(105 65 198 / 17%);
  --bs-border-width: 1px;
}

body {
  font-family: var(--app-font);
}

.btn-primary {
  --bs-btn-color: var(--app-white);
  --bs-btn-bg: var(--app-color);
  --bs-btn-active-bg: var(--app-color);
  --bs-btn-active-border-color: var(--app-color);
  --bs-btn-border-color: var(--app-color);
  --bs-btn-hover-bg: var(--app-primary-button-active-color);
  --bs-btn-disabled-bg: var(--app-primary-button-active-color);
  --bs-btn-hover-border-color: var(--app-primary-button-active-color);
  --bs-btn-disabled-border-color: var(--app-primary-button-active-color);
}

.my-confirm-button-class {
  background-color: var(--app-color) !important;
  color: white !important;
}

.swal2-icon.swal2-info {
  color: var(--app-color) !important;
  border-color: var(--app-color) !important;
}
.my-cancel-button-class {
  background-color: rgb(119, 119, 119) !important;
  color: white !important;
}

.my-alert-title-class {
  font-weight: 800;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-bg);
}

.section .card {
  border-width: 0px;
}

.nav-tabs .nav-link {
  border: 0px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #1677ff;
  border-top: 0px;
  border-left: 0px;
  border-radius: 0px;
  color: #1677ff;
}

.form-label {
  font-weight: 600;
}

.breadcrumb {
  font-size: small;
}

.w-10 {
  width: 10%;
}
