<main id="main" class="main">
    <div class="pagetitle">
       <h1>Groups</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Groups</li>
             <li class="breadcrumb-item active">Tabs</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
        
          
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title"></h5>
                   <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                      <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="groups" aria-selected="true">Groups</button></li>
                      <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="slabs" aria-selected="false">Slabs</button></li>
                      <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="scheme" aria-selected="false">Scheme</button></li>
                   </ul>
                   <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                      <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="groups-tab"> <div class="row">
                        <div class="col-lg-15">
                           
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Group Form</h5>
                                 <form class="row g-3">
                                    <div class="col-md-4"> <label for="inputName5" class="form-label">Branch Name</label> <input type="text" class="form-control" id="inputName5"></div> &nbsp;&nbsp; 
                                    <div class="col-md-6">
                                    <fieldset class="row mb-6" style="margin-left:100px;">
                                       <legend class="col-form-label col-sm-3 pt-1">Group Type</legend>
                                       <div class="col-md-6">
                                       <div class="col-sm-12">
                                          <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked> <label class="form-check-label" for="gridRadios1"> Register </label></div>
                                          <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> <label class="form-check-label" for="gridRadios2"> Non-register</label></div>
                                       </div>
                                    </div>
                                    </fieldset>
                                 </div>
                                    <div class="col-md-4"> <label for="inputName5" class="form-label"> Group Name</label> <input type="text" class="form-control" id="inputName5"></div>
                                    <div class="col-md-4"> <label for="inputName5" class="form-label"> Scheme</label> <input type="text" class="form-control" id="inputName5"></div>
                                    <div class="col-md-4"> <label for="inputName5" class="form-label"> Auction Date</label> <input type="date" class="form-control" id="inputName5"></div>
                                    <label for="inputName5" class="form-label"> Auction Time</label>
                                    <div class="row mb-3">
                                       <label for="inputTime" class="col-sm-1 col-form-label">From </label>
                                       <div class="col-sm-4"> <input type="time" class="form-control"></div>
                                       <label for="inputTime" class="col-sm-1 col-form-label">To </label>
                                       <div class="col-sm-4"> <input type="time" class="form-control"></div>
                                    </div>
                                    <div class="col-md-4"> <label for="inputName5" class="form-label"> Starting Date</label> <input type="date" class="form-control" id="inputName5"></div>
                                    <div class="col-md-4"> <label for="inputName5" class="form-label"> Company Commission percentage</label> <input type="date" class="form-control" id="inputName5"></div><br>
                                    
                                    
                                    
                                    <label class="form-check-label" for="gridCheck1" style="margin-top: -10px; padding-top: 30px;"> If Group Type register: &nbsp; Yes</label>
                                    <input class="form-check-input" style="margin-top: -20px;margin-left: 220px; " type="checkbox"  (change)="showHideText($event);"> 
                                    <input class="form-check-input" style="margin-top: -20px;margin-left: 60px; " type="checkbox" id="gridCheck1" > <label class="form-check-label" style="margin-top: -25px;margin-left: 260px; " for="gridCheck1"> No </label>
                                    <div *ngIf="isDisplayed">
                                       <div class="row">
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> FD Number</label> <input type="text" class="form-control" id="inputName5"></div>
                                    <div class="col-md-6"> <label for="inputName5" class="form-label"> Total FD </label> <input type="text" class="form-control" id="inputName5"></div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6"> <label for="inputName5" class="form-label"> Rate of Interest</label> <input type="text" class="form-control" id="inputName5"></div>
                                    <div class="col-md-6"> <label for="inputName5" class="form-label"> FD Date</label> <input type="date" class="form-control" id="inputName5"></div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6"> <label for="inputName5" class="form-label"> Maturity Amount</label> <input type="text" class="form-control" id="inputName5"></div>
                                    <div class="col-md-6"> <label for="inputName5" class="form-label"> FD Bank</label> <input type="text" class="form-control" id="inputName5"></div>
                                 </div>
                                 <div class="row">
                                     <div class="col-md-6"> <label for="inputName5" class="form-label"> FD Branch</label> <input type="text" class="form-control" id="inputName5"></div>
                                     <div class="col-md-6"> <label for="inputName5" class="form-label"> PSO Number</label> <input type="text" class="form-control" id="inputName5"></div>
                                    </div>
                                     <div class="col-md-6"> <label for="inputName5" class="form-label"> PSO Date</label> <input type="date" class="form-control" id="inputName5"></div>
                                    </div>
                                    <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button>&nbsp; <button type="reset" class="btn btn-secondary">Reset</button></div>                                            
                                                                            
                                 </form>
                              </div>
                           </div>
                        </div>                                                                     
                     </div></div>
                      <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="slabs-tab"> 
                        <main id="main" class="main">
                        
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="card" style="margin-left: -300px;">
                                    <div class="card-body">
                                       <div class="card-title">
                                          <!-- <h5 style="text-align: center;">Chit Value - 10,000   <br></h5> -->
                                             
                                       </div>
                                       
                                       
                                       <table class="table datatable">
                                          <thead>
                                             <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Chit Value</th>
                                                <th scope="col">No.of Members</th>
                                                <th scope="col">No. of Months</th>
                                                <th scope="col">Registration-Fee</th>
                                                <th scope="col">Due Amount</th>
                                                <th scope="col">Payment Slab</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <th scope="row">1</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>1</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>Company</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">2</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>2</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">3</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>3</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,100</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">4</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>4</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,200</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">5</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>5</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,400</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">6</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>6</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,600</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">7</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>7</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>8,800</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">8</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>8</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>9,400</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">9</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>9</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>10,200</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">10</th>
                                                <td>10,000</td>
                                                <td>No.of Members</td>
                                                <td>10</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>11,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">1</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>11</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>Company</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">2</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>12</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>16,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">3</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>13</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>16,200</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">4</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>14</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>16,400</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">5</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>15</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>16,800</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">6</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>16</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>17,600</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">7</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>17</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>17,600</td>
                                                
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">8</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>18</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>18,800</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">9</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>19</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>20,400</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">10</th>
                                                <td>20,000</td>
                                                <td>No.of Members</td>
                                                <td>20</td>
                                                <td>50</td>
                                                <td>1</td>
                                                <td>22,000</td>
                                             </tr>
                                             <tr>
                                                <th scope="row">1</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>21</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>Company</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">2</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>22</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>40,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">3</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>23</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>40,500</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">4</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>24</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>41,000</td>
                                               
                                             </tr>
                                             <tr>
                                                <th scope="row">5</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>25</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>42,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">6</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>26</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>43,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">7</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>27</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>44,000</td>
                                                
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">8</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>28</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>47,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">9</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>29</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>51,000</td>
                                                
                                             </tr>
                                             <tr>
                                                <th scope="row">10</th>
                                                <td>50,000</td>
                                                <td>No.of Members</td>
                                                <td>30</td>
                                                <td>100</td>
                                                <td>1</td>
                                                <td>55,000</td>
                                                
                                             </tr>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              
                           </div>
                                 
                           
                       
                  
                        </main>
                                 
                        </div>
                        
                              
                           


                      <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="scheme-tab"> 
                        <div class="row">
                           <div class="col-lg-15">
                              
                              <div class="card">
                                 <div class="card-body">
                                    <h5 class="card-title">Scheme Details</h5>
                                    <form class="row g-3">
                                       <div class="col-md-6"> <label for="inputName5" class="form-label">Chit Value</label> <input type="text" class="form-control" id="inputName5"></div>
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> No. of Members</label> <input type="number" class="form-control" id="inputName5"></div>
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> No. of Months</label> <input type="text" class="form-control" id="inputName5"></div>
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> Registration fee</label> <input type="text" class="form-control" id="inputName5"></div>
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> Due Amount </label> <input type="text" class="form-control" id="inputName5"></div>
                                       <div class="col-md-6"> <label for="inputName5" class="form-label"> Payment slab</label> <input type="text" class="form-control" id="inputName5"></div>                                             
                                       <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button>&nbsp; <button type="reset" class="btn btn-secondary">Reset</button></div>                                            
                                                                               
                                    </form>
                                 </div>
                              </div>
                           </div>                                                                     
                        </div>
                        
                       
                                                                                     
                       
                        
                      </div>
                   </div>
                </div>
             </div>
             
          
       </div>
    </section>
 </main>